#btn_sideNav{
    -fx-background-color:  #607d8b;
    -fx-background-radius: 0;
}

#btn_sideNav:hover,#btn_sideNav:focused{
    -fx-background-color: #546e7a;
}

#btn_closeLogin{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 0;
}

#btn_closeLogin:hover {
    -fx-background-color: #546e7a;
}

#btn_login{
    -fx-background-color:  #607d8b;
    -fx-background-radius: 100;
}

#btn_login:hover{
    -fx-background-color: #546e7a;
}

/*Table Styling*/
.table-view{
    -fx-background-radius: 0;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header{
    -fx-border-width: 0, 0;
    -fx-background-color: #90a4ae;
}

.table-row-cell:hover, .table-row-cell:focused{
    -fx-background-color: #b0bec5;
    -fx-text-fill: black;
}


.table-row-cell{
    /*-fx-background-color: -fx-table-cell-border-color, white;*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-view .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/*end of table styling*/

#btn_send, #btn_searchFile, #btn_clear, #btn_save, #btn_back{
     -fx-background-color: #b0bec5;
 }

#btn_send:hover, #btn_searchFile:hover, #btn_clear:hover, #btn_save:hover, #btn_back:hover{
    -fx-background-color: #546e7a;
}

#ap_dataContainer{
    -fx-background-color: rgba(232, 232, 232, 0.6);
}

#ap_background{
    -fx-background-image:url("../drawable/background.jpg");
}
